.logo{
    float: left;
    height: 40px;
    vertical-align: center;
    margin: 5px 10px 5px 10px;

}
.logreg{

    
    float: right;
}
.menumain{
    
    display: flex;
    justify-content: right;

}
.navbar{
    
    overflow: hidden;
    display: flex;
    justify-content:initial;
    align-items: center;
    
    
}