.storagelist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}