.storagelist {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.message{
    padding-top: 70px;
    display:flex;
    align-items:center;
    text-align: center;
    justify-content: center;

    ;
}